<pageheader pagename="Periodic Report"></pageheader>

<div class="conter-wrapper">                
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Select Period </h3>
                </div>
                <div class="panel-body">
                    <form ng-submit= "submit();" >
                        <div class="form-group">
                            <label>Date</label></br>
                            <input 
                                type="date"
                                ng-model="start_date"
                                required =""
                                class="datepicker"
                                />
                            <input 
                                type="date"
                                ng-model="end_date"
                                required =""
                                class="datepicker"
                                />
                        </div>	
                        <button  type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row" ng-show="isSelected">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Cash Account</h3>
                </div>
                <div class="panel-body">
                    <table id="CashAccountSearchResultByName" class="table table-striped table-bordered" cellspacing="0" width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Incoming</th>
                                <th>Outgoing</th>
                        </thead>
                        <tbody id ="cashSerchTableBody">

                        </tbody>
                        <tfoot>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Incoming</th>
                                <th>Outgoing</th>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            <stats 
                                bgclass="info" 
                                icon="eye" 
                                value={{t_debitBal2}}
                                text="Incoming Balance">
                            </stats>
                        </div>
                        <div class="col-sm-4">
                            <stats 
                                bgclass="primary" 
                                icon="eye" 
                                value={{t_creditBal2}} 
                                text="Outgoing Balance">
                            </stats>
                        </div>
                        <div class="col-sm-4">
                            <stats 
                                bgclass="warning" 
                                icon="eye" 
                                value={{t_forwordBal2}} 
                                text="Forward Balance">
                            </stats>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" ng-show="isSelected">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Profit Account</h3>
                </div>
                <div class="panel-body">
                    <table id="ProfitAcc" class="table table-striped table-bordered" cellspacing="0" width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Expenses</th>
                                <th>Income</th>
                        </thead>
                        <tbody id ="profitTableBody">

                        </tbody>
                        <tfoot>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Expenses</th>
                                <th>Income</th>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            <stats 
                                bgclass="info" 
                                icon="eye" 
                                value={{t_debitBal}}
                                text="Expenses Balance">
                            </stats>
                        </div>
                        <div class="col-sm-4">
                            <stats 
                                bgclass="primary" 
                                icon="eye" 
                                value={{t_creditBal}} 
                                text="Income Balance">
                            </stats>
                        </div>
                        <div class="col-sm-4">
                            <stats 
                                bgclass="warning" 
                                icon="eye" 
                                value={{t_forwordBal*-1}} 
                                text= {{balance_type}}>
                            </stats>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
	<div class="row" ng-show="isSelected">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Other Expense Account</h3>
                </div>
                <div class="panel-body">
                    <table id="ProfitAcc1" class="table table-striped table-bordered" cellspacing="0" width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Income</th>
                                <th>Expense</th>
							</tr>
                        </thead>
                        <tbody id ="profitTableBody1">

                        </tbody>
                        <tfoot>
                            <tr>
								<th>id</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Income</th>
                                <th>Expense</th>
							</tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            <stats 
                                bgclass="primary" 
                                icon="eye" 
                                value={{t_creditBal1}} 
                                text="Income Balance">
                            </stats>
                        </div>
                        <div class="col-sm-4">
                            <stats 
                                bgclass="info" 
                                icon="eye" 
                                value={{t_debitBal1}}
                                text="Expenses Balance">
                            </stats>
                        </div>

                        <div class="col-sm-4">
                            <stats 
                                bgclass="warning" 
                                icon="eye" 
                                value={{t_forwordBal1}} 
                                text= {{balance_type1}}>
                            </stats>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

