<pageheader pagename="Register Class"></pageheader>

<div class="conter-wrapper" data-ng-init="init()">                
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Register Class</h3>
                </div>
                <div class="panel-body">
                    <form name="simpleform" ng-submit= "submit(simpleform);" ng-validate="validationOptions">
                        <div class="form-group">
                            <label>Class Name</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Class Name"
                                ng-model="cls_name"
                                name = "cls_name"
                                />
                        </div>
                        <div class="form-group">
                            <label>Class Fees</label>
                            <input 
                                type="number" 
                                class="form-control" 
                                placeholder="Class Fees"
                                ng-model="cls_fees"
                                name = "cls_fees"
                                />
                        </div>
                        <div class="form-group">
                            <label>Percentage</label>
                            <input 
                                type="number" 
                                min="0"
                                max="100"
                                class="form-control"  
                                placeholder="Percentage"
                                ng-model="percentage"
                                name = "percentage"
                                />
                        </div>
                        <div class="form-group">
                            <label >Select Teacher</label><br/>
                            <select class="form-control" ng-options="obj.teaId as obj.teaName for obj in teacher_names_select" ng-model="teaId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Select Subject</label><br/>
                            <select class="form-control" ng-options="obj.subId as obj.subName for obj in subject_names_select" ng-model="subId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Select Class Type</label><br/>
                            <select class="form-control" ng-options="obj.clsTypeId as obj.clsTypeName for obj in class_type_names_select" ng-model="clsTypeId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Select Day</label><br/>
                            <select class="form-control" ng-model="clsDay">
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                       <!--  <div class="form-group">
                            <label>Start Time</label>
                            <input 
                                type="time" 
                                class="form-control" 
                                placeholder="Class Strat Time"
                                ng-model="cls_stime"
                                name = "cls_stime"
                                />
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <input 
                                type="time" 
                                class="form-control" 
                                placeholder="Class End Time"
                                ng-model="cls_etime"
                                name = "cls_etime"
                                />
                        </div> -->
                        <button  type="submit" class="btn btn-default" ng-disabled="formsinglesublitControleFlag">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

