<pageheader pagename="View Students' Attendance Details"></pageheader>

<div class="conter-wrapper" data-ng-init="init()">                
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">View Attendance</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="submit()">
						<div class="form-group">
                            <label >Class Name</label><br>
                            <select class="form-control" ng-options="obj.clsId as obj.clsName for obj in cls_names_select" ng-model="selected">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="reportDate">Date</label>
                            <input 
                                type="date"
                                ng-model="reportDate"
                                required =""
                                class="datepicker form-control"
                                min ="2015-12-30"
                                />
                        </div>						
                        <button  type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row" ng-show="isSelected">
        <div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Attendance Report</h3>
                </div>
                <div class="panel-body">
                    <table id="CashAccountSearchResultByName" class="table table-striped table-bordered" cellspacing="0" width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                               <th>Student ID</th>
                                <th>Student Name</th>
								<!--  <th>Grade</th>
                                <th>Student School</th>
                                <th>Phone Number</th>
                                <th>Class</th>
                                <th>Fees</th> -->
                        </thead>
                        <tbody id ="cashSerchTableBody">

                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Student ID</th>
                                <th>Student Name</th>
								<!--  <th>Grade</th>
                                <th>Student School</th>
                                <th>Phone Number</th>
                                <th>Class</th>
                                <th>Fees</th> -->
                        </tfoot>
                    </table>
                    
                </div>
            </div>

        </div>
		<div class="col-sm-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">Absent Report</h3>
                </div>
                <div class="panel-body">
                    <table id="CashAccountSearchResultByName2" class="table table-striped table-bordered" cellspacing="0" width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                               <th>Student ID</th>
                                <th>Student Name</th>
								 <!-- <th>Grade</th>
                                <th>Student School</th>
                                <th>Phone Number</th>
                                <th>Class</th>
                                <th>Fees</th> -->
                        </thead>
                        <tbody id ="cashSerchTableBody2">

                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Student ID</th>
                                <th>Student Name</th>
								<!--  <th>Grade</th>
                                <th>Student School</th>
                                <th>Phone Number</th>
                                <th>Class</th>
                                <th>Fees</th> -->
                        </tfoot>
                    </table>
                    
                </div>
            </div>

        </div>
    </div>
</div>
