<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>java visualizer</title>
    <h1>Code Simulator</h1>
</head>
<body>

<iframe style="width: 100%; height: 360px;" src="http://cscircles.cemc.uwaterloo.ca/java_visualize/iframe-embed.html?faking_cpp=false#data=%7B%22user_script%22%3A%22public%20class%20ClassNameHere%20%7B%5Cn%20%20%20public%20static%20void%20main(String%5B%5D%20args)%20%7B%5Cn%20%20%20%20%20%20for(int%20x%3D0%3Bx%3C%3D5%3Bx%2B%2B)%5Cn%20%20%20%20%20%20%7B%5Cn%20%20%20%20%20%20%20%20%20System.out.println(x)%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%20%20%5Cn%20%20%20%7D%5Cn%7D%22%2C%22options%22%3A%7B%22showStringsAsValues%22%3Atrue%2C%22showAllFields%22%3Afalse%7D%2C%22args%22%3A%5B%5D%2C%22stdin%22%3A%22%22%7D&cumulative=false&heapPrimitives=false&drawParentPointers=false&textReferences=false&showOnlyOutputs=false&py=3&curInstr=0&resizeContainer=true&highlightLines=true&rightStdout=true" frameborder="1" scrolling="no"></iframe>
</body>
</html>